// FONTS
// ------------
$fonts-sans: "Gill Sans", Futura, sans-serif;
$fonts-normal: cambria;
$fonts-DIN: "DIN", "DIN Alternate";
$red: #e66;
$black: #111;


html {
  // background: #e8e8ea;
  position: relative;
}
body {
  
  color: #111;
  background: #fdfdfd;
  
  max-width: 840px;
  margin: 0 auto;
}

article {
  font-family: $fonts-normal;
  font-size: 22px;
  line-height: 1.4;
  padding: 48px 96px;
  box-sizing: border-box;  
}
@media screen and (max-width: 840px) {
	article {
  padding: 24px 24px;
  font-size: 18px;
	}
}

header {
  border-bottom: 1px solid #ddd;
  a {
    width: 100%;
    text-align: center;
  }
}
footer {
  border-top: 1px solid #ddd;
  a {
    float:left;
  }
  a.last_chapter {
    width: calc( 50% - 90px);
    text-align: right;
  }
  a.contents {
    width:180px;
    border: 1px solid #ddd;
    border-width: 0 1px;
    text-align: center;
  }
  a.next_chapter {
    width: calc( 50% - 90px);
  }
}
header a,footer a {
  display: block;
  
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  height:64px;
  box-sizing: border-box;  
  padding: 26px 48px;
  letter-spacing: 1.5px;
  
  &:hover {
    color: $black;
  }
}

@media screen and (max-width: 840px) {
  header a,footer a {
    padding-left: 24px;
    padding-right: 24px;
  }
  footer {
    a.last_chapter {
      width: calc( 50% - 64px);
      text-align: right;
    }
    a.contents {
      width:128px;
    }
    a.next_chapter {
      width: calc( 50% - 64px);
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  margin: 1em 0;
  font-family: $fonts-sans;
}
h1, .h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 96px;
  margin-top: 48px;
}
@media screen and (max-width: 840px) {
  h1, .h1 {
    margin-bottom: 48px;
  }  
}
h2, .h2 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.4em;
  border-bottom:1px solid #ccc;
  margin: 1.4em 0;
}
h3, .h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: 1.2em 0;
}
h4, .h4 {
  font-weight: bold;
  text-transform: capitalize; 
  font-family: $fonts-normal;
  font-size: 0.9em;
}

table {
  font-family: $fonts-DIN; 
  font-size: 16px;
  border-collapse: collapse;
  width: 840px;
  box-sizing: border-box;
  margin: 48px 0;
  margin-left: -96px;
  a {
    font-family: $fonts-DIN; 
    font-size: 16px;
  }
}
@media screen and (max-width: 840px) {
  .table {
    width: 100vw;
    position: relative;
    left: 0;
		overflow-x: scroll;
    margin-left: -24px;
  }
	table {
    margin-left: 0;
    font-size: 14px;
    a {
      font-size: 14px;
    }
	}
}

td {
  border-bottom: 1px solid #ccc;
  height: 44px;
}

th {
  border-bottom: 2px solid #222;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $fonts-sans;
  vertical-align: bottom;
}

td, th {
  padding: 4px 16px;
}
@media screen and (max-width: 840px) {
  td, th {
    padding: 2px 12px;
  }
  th {
    font-size: 12px;
  }
}

blockquote {
  font-family: $fonts-sans;
  font-size: 17px;
  background: #e8e8e8;
  padding: 48px;
  margin: 1.2em 0;
  p:first-child {
    margin-top:0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 840px) {
  blockquote {
    font-size: 15px;
    padding: 24px;
  }
}
section {
  margin-left: 48px;
}

@media screen and (max-width: 840px) {
  section {
    margin-left: 24px;
  }
}

ul, ol {
  padding-left: 48px;
  position: relative;
}

@media screen and (max-width: 840px) {
  ul, ol {
    padding-left: 24px;
  }
}
ul li { 
  list-style-type: none;
  &:before {
    content: "\2014 ";
    position: absolute;
    left: 0;
  }
}

.ogl {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  a {
    font-size: 12px;
    text-decoration: none;
  }
}

a {
  color: $red;
  font-family: $fonts-sans;  
  font-size: 0.9em;
  text-decoration: none;
  
  &:hover {
    color: $black;
  }
}

@keyframes target {
    from {color: $red;}
    to   {color: $black;}
}
*:target {
  color: $black;
  animation-name: target;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

li {
  margin: 0.4em 0;
}

// open hand

#open-hand-technique, #wholeness-of-body, #tranquility, #quivering-palm {
  &:before {
    content: "✋ ";
  }
}