body {
  text-align: center;
  margin: 80px 0;
  font-family: "Gill Sans", Futura, "Futura LT", sans-serif;
  line-height: 1.4;
}
button {
  background: #f2f2f3;
  border: none;
  -webkit-appearance: none;
  padding: 20px 40px;
  border-radius: 4px;
  font-family: "DIN", "DIN Alternate";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
button:hover {
  background: #ededef;
}
button:focus {
  outline-color: #e66;
  outline: none;
}
button:active {
  background: #e6e6e9;
}
h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 80px;
}
h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 40px 0;
}